ul{
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none
}
.wrap-footer{
  width: 100%;
  background-color: #fcfcfc;
  margin-top: 150px;
}
.container-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 20px 60px;
  margin: 0 auto;
}

.list-element{
  font-family: Native;
  margin-top: 10px;
  font-weight: 100;
  color: rgb(14, 14, 14);
  font-size: 14px;
}
.link_offerta:hover{
  text-decoration: underline;
}
.link_email{
  text-decoration: underline;
}
.link_email:hover{
  color: #4a90e2;
}